* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto';
}

body{
    background-color: rgb(22, 30, 22);
   }
  
.titulo h1{
    text-align: center;
    color: #F9CB7A;
    font-family: 'Lobster';
    font-size: 70px;
    margin-top: 0.4%;
}

h1:hover{
    color: rgb(243, 206, 22);
}
.titulo img{
    width: 130px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.titulo h3{
    text-align: center;
    color: #ffffff;
    margin-top: 3%;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;

}

button{
    background-color: rgb(209, 203, 147);
    padding: 15px;
    border-radius: 10px;
    margin: 0 15px;
    font-size: 20px;
    transition: background-color 0.3s;
}

.out{
    background-color: rgb(199, 87, 87);
}

.out:hover{
    background-color: red;
}

button:hover{
    background-color: rgb(243, 206, 22);
    color: white;
}

button img{
    width: 20px;
    height: 20px;
}

.home{
    border-radius: 100%;
    padding: 10px;
    margin-top: 1.5%;
    margin-left: 5%
}

@media(max-width:500px){

    button{
       padding: 20px;
       align-items: center;
       justify-content: center;
       display: flex;
       margin: 3%;
    } 

    .b{
        flex-direction: column;
    }

    .home{
        padding: 15px;
    }

    .home img{
        width: 30px;
        height: 30px;
    }

   .titulo h3{
    display: none;
   }

}