* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.pagina-lista-posts {
  display: flex;
  background: #122620;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.conteudo-central {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 24px 10px 24px 10px;
  align-items: center;
}

.barra-busca-container {
  position: absolute;
  height: 100%;
  left: calc(100vw / 2 - 732px);
}

.barra-busca {
  position: sticky;
  z-index: 1;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;

  height: 32px;
  padding: 0 10px;
  font-size: 28px;
}

.barra-busca input {
  padding: 0 5px;
  width: 240px;
  font-size: 20px;
  outline: none;
  border: none;
  transition: width 0.5s;
}

ion-icon {
  border-radius: 20px;
  padding: 1.6px 2px;
  transition: background 0.2s;
}

ion-icon:hover {
  background: #8d9a94;
  cursor: pointer;
  color: white;
}

.lista-posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 820px;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 800px;
  height: 240px;
  background: #f9cb7a;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  align-items: center;
}

.post img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.post-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.post-conteudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-titulo {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

.paginacao {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-style: normal;
  color: white;
}

.paginacao-elemento {
  border-radius: 2px;
  min-width: 16px;
  min-height: 16px;
  padding: 0 4px;
  text-align: center;
  transition: background 0.2s;
}

.paginacao-elemento-atual {
  background-color: #8d9a94;
}

.paginacao-elemento:hover {
  background-color: #8d9a94;
}
@media (max-width: 1485px) {
  .barra-busca-container {
    left: 10px;
  }

  .conteudo-central {
    margin-left: calc(1485px - 100vw);
  }
}

@media (max-width: 1172px) {
  .conteudo-central {
    margin-left: calc(313px - (1172px - 100vw));
  }

  .barra-busca-container {
    left: calc((100vw / 2 - 256px) - (1172px - 100vw) / 2);
  }

  .barra-busca {
    padding: 0;
    gap: 0;
  }

  .barra-busca input {
    opacity: 0;
    width: 0;
    padding: 0;
  }

  .barra-busca.barra-busca-aberta {
    width: fit-content;
    padding: 0 5px;
    gap: 5px;
  }

  .barra-busca.barra-busca-aberta input {
    opacity: 100%;
    padding: 0 10px;
    width: 240px;
  }
}

/*@media (max-width: 860px) {
  .conteudo-central {
    margin-left: 0;
    margin-right: 0;
  }

  .lista-posts {
    width: 100%;
  }
  .post {
    width: 100%;
  }
}*/
