body {
  background-color: #122620;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 95vw;
  height: 95vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
h1 {
  font-family: Lobster, sans-serif;
  font-size: 4vw;
  font-weight: 100;
  margin: 0;
  color: white;
}

h2 {
  font-family: Roboto;
  font-size: 2vw;
  font-weight: 100;
  margin: 0;
}

h3 {
  font-family: Lobster;
  font-size: 2vw;
  font-weight: 100;
  margin: 0;
  color: white;
}

.parte-superior {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 35vh;
}

.parte-inferior {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  height: 55vh;
  width: 30vw;
}

.coluna-central {
  display: flex;
  width: 100%;
  height: 8vh;
  color: white;
  text-align: center;
  justify-content: center;
}

.mensagem-erro {
  color: red;
  text-align: center;
}
.form-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btlogin {
  height: 10vh;
  width: 200px;
  background-color: #f9cb7a;
  padding: 0% 2%;
  border: 1px solid #f9cb7a;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  margin: 2vh;
}

.btlogin:hover {
  line-height: 30px;
  background-color: #665230;
  padding: 0% 2%;
  border: 1px solid #f9cb7a;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: larger;
  color: white;
}

.texto-botao {
  font-size: 40px;
  margin: 0;
  font-family: lobster;
}

.texto-input {
  line-height: 2vh;
  width: 100%;
  background-color: #f9cb7a;
  padding: 0% 2%;
  border: 1px solid #f9cb7a;
  border-radius: 35px;
  text-align: left;
  text-decoration: none;
  align-items: center;
  font-size: larger;
  padding: 2vh;
  margin: 5px;
}

.texto-input::placeholder {
  color: black;
}

.no-tom {
  color: #f9cb7a;
}

.coluna-central.senha {
  position: relative;
}
.coluna-central.senha i {
  position: absolute;
  right: 2vh;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
  font-size: 1.5em;
}

img {
  height: 14vh;
  width: fit-content;
  max-width: 100%;
  max-height: 100%;
}

.area-da-foto {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 95vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    font-family: Lobster, sans-serif;
    font-size: 8vw;
    font-weight: 100;
    height: fit-content;
    width: fit-content;
    margin: 0;
    color: white;
  }

  h2 {
    font-family: Roboto;
    font-size: 4vw;
    font-weight: 100;
    height: fit-content;
    width: fit-content;
    margin: 0;
  }

  h3 {
    font-family: Lobster;
    font-size: 4vw;
    font-weight: 100;
    height: fit-content;
    width: fit-content;
    margin: 0;
    color: white;
    text-align: center;
  }
  .parte-superior {
    gap: 5px;
    height: 30vh;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }
  .parte-inferior {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    width: 70vw;
    height: 40vh;
  }
  .coluna-central {
    display: flex;
    width: 70vw;
    height: 6vh;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }

  .form-central {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mensagem-erro {
    color: red;
    text-align: center;
  }

  .btlogin {
    height: 7vh;
    width: 70vw;
    background-color: #f9cb7a;
    padding: 0% 2%;
    border: 1px solid #f9cb7a;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    margin: 30px;
  }

  .btlogin:hover {
    line-height: 30px;
    background-color: #665230;
    padding: 0% 2%;
    border: 1px solid #f9cb7a;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    align-items: center;
    font-size: larger;
    color: white;
  }

  .texto-botao {
    font-size: 4vh;
    margin: 0;
    font-family: lobster;
  }

  .texto-input {
    line-height: 2vh;
    width: 100%;
    background-color: #f9cb7a;
    padding: 0% 2%;
    border: 1px solid #f9cb7a;
    border-radius: 35px;
    text-align: left;
    text-decoration: none;
    align-items: center;
    font-size: larger;
    padding: 10px;
    margin: 5px;
  }

  .texto-input::placeholder {
    color: black;
  }

  .no-tom {
    color: #f9cb7a;
  }

  img {
    height: 14vh;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
  }

  .area-da-foto {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
