html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #122620;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #f9cb7a;
  width: 80vw;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4vw;
}
.imagem img {
  height: 15vh;
  border-radius: 10px;
}
.titulo {
  color: #f9cb7a;
  padding-left: 2vw;
  font-family: "Lobster", cursive;
  font-size: 2.5vw;
}
@media (max-width: 900px) {
  .container {
    height: 80vh;
  }
  .header {
    height: 20vh;
  }
  .mid {
    height: 60vh;
    font-size: 2px;
    text-align: justify;
    line-height: 1.5;
  }
  .footer {
    flex-direction: column;
    height: 3vh;
    padding: auto;
  }
  .titulo {
    font-size: 6vw;
  }
  .footer {
    flex-direction: column;
    height: 2vh;
    padding: auto;
  }
}

.mid {
  height: 47vh;
  display: flex;
  flex-direction: column;
  margin: 25px;
  color: #000000;
  font-family: "Lobster", cursive;
  overflow-y: auto;
  padding-right: 5px;
}
.sobre {
  font-size: 36px;
}
.descricao {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
}
.footer {
  height: 3vh;
  display: flex;
  font-family: "Lobster", cursive;
  color: #000000;
  padding-left: 1vw;
  align-items: center;
  border-top: 1px solid #000000;
}
.data {
  padding-left: 2vw;
}
.mid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mid::-webkit-scrollbar-track {
  background: rgba(155, 54, 54, 0);
  border-radius: 5px;
}

.mid::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.mid::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}
