@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --fundo: #f9cb7a;
  --texto-side: #000000;
  --botao-selecionado: #ffffff;
  --hooder-body: #122620;
  --texto-user: #6b6b6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--hooder-body);
}
main {
  padding: 20px;
  position: fixed;
  z-index: 1;
  padding-left: calc(82px + 20px);
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fundo);
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all 0.5s;
  min-width: 112px;
  z-index: 2;
}

#sidebar_content {
  padding: 12px;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

#user_avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}
#user_infos {
  display: flex;
  flex-direction: column;
}
#user_infos span:last-child {
  color: var(--texto-user);
  font-size: 12px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.side-item.active {
  background-color: var(--botao-selecionado);
}

.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: var(--hooder-body);
}

.side-item:hover:not(.active),
#logout_btn:hover .item-description {
  color: var(--botao-selecionado);
}
.side-item:hover:not(.active) .item-description {
  color: var(--botao-selecionado);
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--texto-side);
}

.side-item:hover {
  background-color: var(--hooder-body);
  border-radius: 20px;
  transition: background-color 0.5s, border 0.5s;
}

.side-item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

#logout {
  border-top: 1px solid var(--hooder-body);
  padding: 12px;
}

#logout_btn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn {
  position: absolute;
  display: flex;
  font-size: 20px;
  top: 30px;
  right: 2px;
  background-color: var(--botao-selecionado);
  color: var(--hooder-body);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

#open_btn_icon {
  transition: transform 0.3s ease;
}

.open-sidebar #open_btn_icon {
  transform: rotate(180deg);
}

.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width 0.6s;
  height: 0px;
}

#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 30px;
    overflow: visible;
    position: fixed;
    transition: all 0.3s ease;
  }

  #sidebar.open-sidebar {
    min-width: 100px;
  }
  #user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    flex-direction: row;
  }

  #user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
  }

  #user_infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #user,
  #side_items,
  #logout {
    display: none;
  }

  #sidebar.open-sidebar #sidebar_content,
  #sidebar.open-sidebar #user,
  #sidebar.open-sidebar #side_items,
  #sidebar.open-sidebar #logout {
    display: flex;
    flex-direction: column;
  }

  #sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
  }

  #sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
  }

  #open_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: -10px;
    background-color: var(--botao-selecionado);
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  main {
    padding-left: 40px;
  }
}
