* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

body{
    background-color: rgb(16, 41, 36) ;
    overflow-x: hidden;
  }

.area-individual{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header {
  width: 100%;
}

/* descobrir como fazer css funcionar no Iframe*/
