* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: white;
}

body{
  background-color: rgb(16, 41, 36) ;
}

.container {
  width: 100%;
  position: relative;
}

.imagemprincipal{
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.imagemsecundaria{
  display: none;
}

.textos{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.textos h1{
   font-family: 'Lobster';
   font-size: 100px;
}

.textos h2{
   font-size: 25px;
}

.containerimagem {
  text-align: center;
  position: relative; 
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.containerimagem h3 {
  text-align: center;
  color: #F9CB7A;
  margin-top: 50px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 10%;
}

.nomeartista{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 10px;
}

.red {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.red img {
  width: 100%;
  max-width: 100%; 
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.red:hover {
  background-color:  #F9CB7A;
}

.red:hover img{
  transform: scale(1.4);
}


.postagem {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #F9CB7A;
  padding-bottom: 50px;
  margin-top: 10%;
  gap: 10%;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.info h2{
  color:#F9CB7A ;
  
}

.info h3{
  margin-top: 5%;
}

.carrossel {
  background-color: rgb(255, 253, 223);
  border-radius: 20px;
  width: 40%; 
  max-width: 360px; 
  text-align: center;
  display: flex;
  padding: 1%;
}

.carrossel img{
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 25 / 20;
  object-fit: cover;
}

.car1 button{
  color: black;
}

.car1 p{
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  color: black;
}

.car1 h2{
  text-align: left;
  margin-left: 5%;
  margin-bottom: 1%;
  color: black;
}

button{
  border: none;
  text-decoration: none;
  background-color: #F9CB7A;
  padding: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.car1 img {
  max-width: 100%;
  height: auto;
}

@media (max-width:768px){
 .textos{
  width: 100%;
  margin-left: -20%;
 }

 .textos h1{
  font-size: 10vw;
 }

 .textos h2{
  font-size: 3vw;
 }
}

@media (max-width: 480px){
  .textos h1{
    font-size: 20vw;
  }

  .textos h2{
    font-size: 4vw;
  }

  .postagem {
    flex-direction: column;
    gap: 4px;
  }

  .info{
    margin-top: 10%;
  }

  .carrossel{
    margin-top: 14%;
    width: 400px;
  }

 .containerimagem h2{
  margin-top: 14%;
 }

 .containerimagem h3{
  margin-top: 5%;
 }

 .containerimagem{
  margin-top: 25%;
 }

 .nomeartista{
  margin: 12px;
  width: 160px;
 }

 .imagemsecundaria{
 display: block;
 width: 100%;
 height: auto;
 }

 .imagemprincipal{
  display: none;
 }

}
