<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/lista-usuarios.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="pagina-lista-usuarios">
      <h1 class="titulo texto-branco">Usuários</h1>
      <div id="div-botao-criar-usuario">
        <button class="botao-construtivo">
          <ion-icon name="add-outline"></ion-icon>
        </button>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Email</th>
              <th>
                <div class="center-div">
                  <ion-icon name="settings-outline"></ion-icon>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="accordion">
              <td>1</td>
              <td>Fulano da Silva</td>
              <td>email@email.com</td>
              <td class="celula-icone">
                <div class="center-div">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
              </td>
            </tr>
            <tr class="hidden-content">
              <td colspan="4">
                <button><ion-icon name="eye-outline"></ion-icon></button>
                <button><ion-icon name="create-outline"></ion-icon></button>
                <button class="botao-destrutivo">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
            <tr class="accordion">
              <td>2</td>
              <td>Fulano da Silva</td>
              <td>email@email.com</td>
              <td class="celula-icone">
                <div class="center-div">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
              </td>
            </tr>
            <tr class="hidden-content">
              <td colspan="4">
                <button><ion-icon name="eye-outline"></ion-icon></button>
                <button><ion-icon name="create-outline"></ion-icon></button>
                <button class="botao-destrutivo">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
            <tr class="accordion">
              <td>3</td>
              <td>Fulano da Silva</td>
              <td>email@email.com</td>
              <td class="celula-icone">
                <div class="center-div">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
              </td>
            </tr>
            <tr class="hidden-content">
              <td colspan="4">
                <button><ion-icon name="eye-outline"></ion-icon></button>
                <button><ion-icon name="create-outline"></ion-icon></button>
                <button class="botao-destrutivo">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
            <tr class="accordion">
              <td>4</td>
              <td>Fulano da Silva</td>
              <td>email@email.com</td>
              <td class="celula-icone">
                <div class="center-div">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
              </td>
            </tr>
            <tr class="hidden-content">
              <td colspan="4">
                <button><ion-icon name="eye-outline"></ion-icon></button>
                <button><ion-icon name="create-outline"></ion-icon></button>
                <button class="botao-destrutivo">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
            <tr class="accordion">
              <td>5</td>
              <td>Fulano da Silva</td>
              <td>email@email.com</td>
              <td class="celula-icone">
                <div class="center-div">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </div>
              </td>
            </tr>
            <tr class="hidden-content">
              <td colspan="4">
                <button><ion-icon name="eye-outline"></ion-icon></button>
                <button><ion-icon name="create-outline"></ion-icon></button>
                <button class="botao-destrutivo">
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="paginacao">
        <a class="paginacao-elemento" href="#"><</a>
        <a class="paginacao-elemento paginacao-elemento-atual" href="#">1</a>
        <a class="paginacao-elemento" href="#">2</a>
        <a class="paginacao-elemento" href="#">3</a>
        <div>...</div>
        <a class="paginacao-elemento" href="#">9</a>
        <a class="paginacao-elemento" href="#">10</a>
        <a class="paginacao-elemento" href="#">></a>
      </div>
    </div>
    <!--Modal criação-->
    <div class="modal-edicao">
      <form action="">
        <h1>Criar usuário</h1>
        <label class="titulo-conteudo-modal" for="input-nome">Nome:</label>
        <input id="input-nome" type="text" placeholder="Digite seu nome..." />

        <label class="label-com-margem titulo-conteudo-modal" for="email"
          >E-mail:</label
        >
        <input id="email" type="email" placeholder="exemplo@email.com" />

        <label class="label-com-margem titulo-conteudo-modal" for="senha"
          >Senha:</label
        >
        <input id="senha" type="password" placeholder="Digite sua senha..." />
        <div class="modal-edicao-botoes">
          <button class="botao-destrutivo">Cancelar</button>
          <button class="botao-construtivo">Criar</button>
        </div>
      </form>
    </div>
    <!--Modal visualização-->
    <div class="modal-edicao">
      <form action="">
        <h1>Visualização</h1>
        <label class="titulo-conteudo-modal" for="input-nome">ID:</label>
        <p class="conteudo-visualizacao">12345</p>

        <label class="label-com-margem titulo-conteudo-modal" for="email"
          >Nome:</label
        >
        <p class="conteudo-visualizacao">Fulano da Silva</p>

        <label class="label-com-margem titulo-conteudo-modal" for="senha"
          >Email:</label
        >
        <p class="conteudo-visualizacao">exemplo@email.com</p>
        <div class="modal-edicao-botoes">
          <button class="botao-fechar-modal">Fechar</button>
        </div>
      </form>
    </div>
    <!--Modal edição-->
    <div class="modal-edicao">
      <form action="">
        <h1>Edição</h1>
        <label class="titulo-conteudo-modal" for="input-nome">Nome:</label>
        <input id="input-nome" type="text" placeholder="Digite seu nome..." />

        <label class="label-com-margem titulo-conteudo-modal" for="email"
          >E-mail:</label
        >
        <input id="email" type="email" placeholder="exemplo@email.com" />

        <label class="label-com-margem titulo-conteudo-modal" for="senha"
          >Senha:</label
        >
        <input id="senha" type="password" placeholder="Digite sua senha..." />
        <div class="modal-edicao-botoes">
          <button class="botao-destrutivo">Cancelar</button>
          <button class="botao-construtivo">Salvar</button>
        </div>
      </form>
    </div>
    <div class="modal-edicao">
      <h1>Excluir</h1>
      <p class="dados-usuario-excluir p-com-margem">ID: 1234</p>
      <p class="dados-usuario-excluir">Nome: Fulano da Silva</p>
      <div class="modal-edicao-botoes botoes-com-margem">
        <button class="botao-fechar-modal">Cancelar</button>
        <button class="botao-destrutivo">Excluir</button>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="../../../public/js/lista-usuarios.js"></script>
  </body>
</html>
