<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista de Posts - Admin</title>
  <link rel="stylesheet" href="../../../public/css/lista-posts-admin.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="pagina-lista-usuarios">
    <h1 class="titulo texto-branco">Posts</h1>


    <div id="div-botao-criar-usuario">
      <button onclick=abirModalCriar('modalCriar') class="botao-construtivo" id="botao-construtivo">
        <ion-icon name="add-outline"></ion-icon>
      </button>
    </div>



    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Data</th>
            <th>
              <div class="center-div">
                <ion-icon name="settings-outline"></ion-icon>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="accordion">
            <td>1</td>
            <td>Título do post</td>
            <td>Fulano da Silva</td>
            <td>27/10/2024</td>
            <td class="celula-icone">
              <div class="center-div">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </td>
          </tr>
          <tr class="hidden-content">
            <td colspan="4">
              <button><ion-icon name="eye-outline"></ion-icon></button>
              <button onclick=abirModalCriar('modalEditar')>
              <ion-icon name="create-outline"></ion-icon></button>

              <button onclick=abirModalExcluir('modalExcluir') class="botao-destrutivo">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
          <tr class="accordion">
            <td>2</td>
            <td>Título do post</td>
            <td>Fulano da Silva</td>
            <td>28/10/2024</td>
            <td class="celula-icone">
              <div class="center-div">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </td>
          </tr>
          <tr class="hidden-content">
            <td colspan="4">
              <button><ion-icon name="eye-outline"></ion-icon></button>
              <button><ion-icon name="create-outline"></ion-icon></button>
              <button class="botao-destrutivo">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
          <tr class="accordion">
            <td>3</td>
            <td>Título do post</td>
            <td>Fulano da Silva</td>
            <td>29/10/2024</td>
            <td class="celula-icone">
              <div class="center-div">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </td>
          </tr>
          <tr class="hidden-content">
            <td colspan="4">
              <button><ion-icon name="eye-outline"></ion-icon></button>
              <button><ion-icon name="create-outline"></ion-icon></button>
              <button class="botao-destrutivo">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
          <tr class="accordion">
            <td>4</td>
            <td>Título do post</td>
            <td>Fulano da Silva</td>
            <td>30/10/2024</td>
            <td class="celula-icone">
              <div class="center-div">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </td>
          </tr>
          <tr class="hidden-content">
            <td colspan="4">
              <button><ion-icon name="eye-outline"></ion-icon></button>
              <button><ion-icon name="create-outline"></ion-icon></button>
              <button class="botao-destrutivo">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
          <tr class="accordion">
            <td>5</td>
            <td>Título do post</td>
            <td>Fulano da Silva</td>
            <td>31/10/2024</td>
            <td class="celula-icone">
              <div class="center-div">
                <ion-icon name="chevron-down-outline"></ion-icon>
              </div>
            </td>
          </tr>
          <tr class="hidden-content">
            <td colspan="4">
              <button><ion-icon name="eye-outline"></ion-icon></button>
              <button><ion-icon name="create-outline"></ion-icon></button>
              <button class="botao-destrutivo">
                <ion-icon name="trash-outline"></ion-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="paginacao">
      <a class="paginacao-elemento" href="#">
        
          <a class="paginacao-elemento paginacao-elemento-atual" href="#">1</a>
          <a class="paginacao-elemento" href="#">2</a>
          <a class="paginacao-elemento" href="#">3</a>
          <div>...</div>
          <a class="paginacao-elemento" href="#">9</a>
          <a class="paginacao-elemento" href="#">10</a>
          <a class="paginacao-elemento" href="#">></a>
    </div>



    <!-- pop ups criar post -->
    <div class="background-popup" id = "modalCriar">
      <div class="caixa-popup">

        <div class="parte-superior">

          <div class="titulo-popup">
            <h1>Crie sua Publicação</h1>
          </div>

          <input class=input-titulo-popup placeholder="Titulo *" />

            <input class=input-paragrafo-popup placeholder="Conteudo *" />

          <div class=imagem-popup>

                <button class="botao-adiciona-foto">
                    <label for="file" class="input-file-label">
                    <p>Adicione A Foto de Seu Post Aqui *</p>
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                    </label>
                    <input type="file" id="file" name="file" multiple class="input-file" style="display: none;" />
                </button>

              <div>
              </div>
            </form>
          </div>

          <div class=parte-inferior>
            <button class="botao-construtivo" id="botao-criar-post">Criar</button>
            <button onclick=fecharModalCriar('modalCriar') class="botao-destrutivo" id="botao-cancelar">Cancelar</button>
          </div>
        </div>
      </div>
     </div>
 
      <!-- pop up excluir post -->      
      <div class="background-popup" id = "modalExcluir">
        <div class="caixa-popup">
          <div class="parte-superior">
            <div class="titulo-popup">
              <h1>Você Deseja Mesmo Excluir este Post? Esta ação não é reversivel.</h1>
            </div>
          </div>
            <div class=parte-inferior>
              <button class="botao-construtivo" id="botao-criar-post">Cancelar</button>
              <button onclick=fecharModalExcluir('modalExcluir') class="botao-destrutivo" id="botao-cancelar">Excluir</button>
          </div>
        </div>
      </div>


    <!-- pop ups editar post -->

    <div class="background-popup" id = "modalEditar">
      <div class="caixa-popup">

        <div class="parte-superior">

          <div class="titulo-popup">
            <h1>Edite a Publicação de: Fulano da Silva</h1>
          </div>

          <input class=input-titulo-popup placeholder="Titulo Novo* " />

            <input class=input-paragrafo-popup placeholder="Conteudo Novo*" />

          <div class=imagem-popup>

                <button class="botao-adiciona-foto">
                    <label for="file" class="input-file-label">
                    <p>Adicione A Foto Nova Aqui *</p>
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                    </label>
                    <input type="file" id="file" name="file" multiple class="input-file" style="display: none;" />
                </button>

              <div>
              </div>
            </form>
          </div>

          <div class=parte-inferior>
            <button class="botao-construtivo" id="botao-criar-post">Criar</button>
            <button onclick=fecharModalCriar('modalEditar') class="botao-destrutivo" id="botao-cancelar">Cancelar</button>
          </div>
        </div>
      </div>
     </div>


      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

      <script src="../../../public/js/lista-posts-admin.js"></script>

</body>

</html>