<!DOCTYPE html>
<html lang="en">
<!-- BEAUTIFY = SHIFT ALT F-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/header.css">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<header class="header">

    <div class="coluna-mae">
        <button class="btnav" href="">
            <div><span class ="simbolo">Home</span></div>
            <div><a class="texto-botoes"> Pagina Inicial</a></div>
        </button>
    </div>

    <div class="coluna-mae">
        <button class="btnav" href=>
            <div><span class ="simbolo">list</span></div>
            <div><a class="texto-botoes"> Publicações</a></div>
        </button>
    </div>

    <div class="coluna-mae">
        <button class="btnav" href=>
            <div><span class ="simbolo">login</span></div>
            <div><a class="texto-botoes"> Log In</a></div>
        </button>
    </div>

    </div>

    <div class="coluna-mae">
        <div>
        <img class = "logo" src="/public/assets/logo-sem-nome.png" alt="logo-no-tom">
    </div>
    </div>
</header>

<body>



    <main>
        <div>
            <h1>
                <p style="font-size: 100px;">
                    Lorem ipsum dolor sittetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliq amet, consecua.
                </p>
            </h1>
        </div>
    </main>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>