<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login-page.css">
    <title>Login Page</title>
</head>
 
<body>
    <div class="parte-superior">
        <div class="area-da-foto">
        <img src="\public\assets\logo-sem-nome.png" alt="logo No Tom">
    </div>
            <h1>Bem vindo ao NoTom</h1>
            <h3>Ame e sinta a musica <span class="no-tom"> no tom </span> da sua vida.</h3>
    </div>


    <div class="parte inferior">
        
        <div class=coluna-central>
            <h2>Entre para Prosseguir</h2>
        </div>

        <div class="coluna-central">
            <input class="text-input" placeholder="Email ou Nome de Usuario *" />
        </div>

        <div class="coluna-central">
            <input class="text-input" placeholder="Senha *" />
        </div>

        <div class=coluna-central>
            <button class="btlogin">
                <h4 class="texto-botao">Log In</h4>
            </button>
        </div>

    </div>

</body>

</html>