<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/login-page.css">
    <title>Login Page</title>
</head>

<body>
    <div class="parte-superior">
        <div class=coluna-central>
            <h1>Bem vindo ao NoTom.</h1>
        </div>

        <div class=coluna-central>
            <h1>Ame e sinta a musica no tom da sua vida.</h1>
        </div>
    </div>


    <div class="parte inferior">
        <div class=coluna-central>
            <h1>Entre para Prosseguir</h1>
        </div>

        <input class=coluna-central placeholder="Email ou Nome de Usuario" />

        <input class=coluna-central placeholder="Senha" />

        <div class=coluna-central>
            <button class="btlogin">
                <h1 class="texto-botao">Login</h1>
            </button>
        </div>
    </div>

</body>

</html>