<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Footer</title>
</head>

<body>
    <main>
        <div>
            <h1>
                esta eh a main
                <p style="font-size: 200px;">
                    Lorem ipsum dolor sittetur adipiscing elit.
                    Sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliq amet, consecua.
                </p>
            </h1>
        </div>
    </main>
</body>

    <footer class="footer">
        <div class="footer coluna">

            <div class="coluna-mae">
                <h1 class = "subcoluna-esquerda">Missão</h1>

                <h1 class = "subcoluna-esquerda">Visão</h1>
                
                <h1 class = "subcoluna-esquerda">Valores</h1>

            </div>

            <div class="coluna-mae">
                <p>Sit amet consectetur</p>
            </div>

            <div class="coluna-mae">
                <p>Adipiscing elit sed</p>
            </div>

        </div>
    </footer>


</html>