<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <title>No Tom</title>
</head>
<body> 
    <div class="fundo">
     <div class="img">
        <div class="text">
            <h1 style="font-size:85px;">no tom</h1>
            <div class="text2"> <h3 style="font-size: 20px;">Ame e sinta a música no tom <br> da sua vida</h3></div>
        </div>
    </div>
    
        <div class="text3">
            <h2 style="font-size: 30px;">INFORMAÇÕES SOBRE SEUS <br> ARTISTAS FAVORITOS</h2>
            <div class="text4"><h3 style="font-size: 20px;">Saiba tudo o que seu artista favorito faz e descubra novos talentos da música</h3></div>
            <div class="centro">
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>
                <div class="red"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg/640px-TIM_MAIA_SONIA_D%27ALMEIDA_1987_%28cropped%29.jpg"></div>

            </div>
        </div>

        <div class="text5">
            <h2 style="font-size: 30px;">VEJA OS POSTS MAIS RECENTES</h2>
            <div class="text6"><h3 style="font-size: 20px;">Aqui você encontra os melhores <br> posts para os verdadeiros amantes <br> da música!</h3></div>
           
        </div>
        
        <div class="carrossel">
            <div class="car1">
                <h2>Título</h2>
                <p class="perfil">Perfil 1</p>
                <img src="https://i.pinimg.com/originals/e7/0e/d6/e70ed6f6e7c15bec3a1b66f2ffcab1ea.jpg" alt="Michael Jackson">
                <p style="font-size: 13px;">Essa é a descrição do post bla bla bla <br> bla bla pi pi pi pi pi po po po po</p>
                <button>Ver Mais</button>
            </div>
        </div>

    </div>
</body>
</html> 