<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/styles.css">
    <title>No Tom</title>
</head>
<body> 
    
     <div class="img">
        <div class="text">
            <h1 style="font-size:85px;">no tom</h1>
            <div class="text2"> <h3 style="font-size: 20px;">Ame e sinta a música no tom <br> da sua vida</h3></div>
        </div>
    </div>
    
    <div class="b">
        <div class="text3">
            <h2 style="font-size: 30px;">INFORMAÇÕES SOBRE SEUS <br> ARTISTAS FAVORITOS</h2>
            <div class="text4"><h3 style="font-size: 20px;">Saiba tudo o que seu artista favorito faz e descubra novos talentos da música</h3></div>
        </div>
    </div>   
</body>
</html> 