<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/css/post-individual.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
    />

    <title>Post Individual</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="imagem">
          <img
            title="Foto do artigo"
            src="../../../public/assets/artista.png"
            alt="imagem do tema"
          />
        </div>
        <div class="titulo">Nome do Artista ou Tema</div>
      </div>
      <div class="mid">
        <div class="sobre">Sobre o Tema</div>
        <div class="descricao">
          Houston-born rapper and producer Travis Scott's psychedelic trap style
          makes him one of the more distinctive talents to have risen to the
          height of mainstream commercial popularity. His heavily processed,
          half-sung/half-rapped style set him apart early on, and he grew from
          affiliations with Kanye West's GOOD Music and T.I.'s Grand Hustle in
          the early 2010s to chart-dominating popularity before the close of the
          decade. After his first studio album, 2015's Rodeo, debuted in the
          number three position, Scott followed with a pair of number one
          full-lengths, Birds in the Trap Sing McKnight (2016) and Astroworld
          (2018), all the while assisting in platinum singles headlined by the
          likes of Rihanna ("Bitch Better Have My Money"), SZA ("Love Galore"),
          and Drake ("Portland"), and working extensively with Quavo as Huncho
          Jack. Whether leading or supporting, Scott's presence was
          unmistakable, and he quickly accumulated Grammys, endorsement deals,
          and appearances in more than 80 charting songs. By the 2020s, Scott
          was one of the most successful living artists on the planet. This
          level of fame played into both extreme success and profound tragedy,
          with Scott being at the center of controversy surrounding the deaths
          and injuries of hundreds of fans at his 2021 Astroworld festival
          before debuting his genre-crossing, Grammy-nominated fourth album,
          2023's UTOPIA.
        </div>
      </div>
      <div class="footer">
        <div class="autor">Nome do Autor:</div>
        <div class="data">Data da Postagem:</div>
      </div>
    </div>
  </body>
</html>
